language: rust
sudo: false

cache:
  - cargo

rust:
  - stable

before_script:
  - (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
  - (test -x $HOME/.cargo/bin/mdbook || cargo install mdbook)
  - (test -x $HOME/.cargo/bin/mdbook-toc || cargo install mdbook-toc)
  - (test -x $HOME/.cargo/bin/mdbook-mermaid || cargo install mdbook-mermaid)
  - cargo install-update -a

script:
  - mdbook build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: book
  keep_history: false
  on:
    branch: master
